<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{node.Name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="d-flex">
        <a target="_blank" href="https://app.composer.trade/symphony/{{node.Id}}/details">
            Open in Composer
        </a>
        <button *ngIf="this.portfolioView" style="margin-left:auto;" class="btn btn-danger" (click)="this.deleteSymphony()">Stop Tracking</button>
    </p>
    <p>Created: {{node.CreateTime | date : 'short'}}</p>
    <p *ngIf="portfolioView"> Cached On: {{node.CacheOn| date : 'short'}}</p>
    <p>{{node.Description}}</p>
    <h3>Investable Assets</h3>
    <table mat-table [dataSource]="node.Assets | asset : {invest : true}" class="w-100 mat-elevation-z8">
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let asset"> 
          <a target="_blank" [href]="'https://stockmarketmba.com/analyze.php?s='+asset.Ticker">{{asset.Ticker}}</a>  
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="category1">
        <th mat-header-cell *matHeaderCellDef> Category 1 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category1}} </td>
      </ng-container>
      <ng-container matColumnDef="category2">
        <th mat-header-cell *matHeaderCellDef> Category 2 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category2}} </td>
      </ng-container>
      <ng-container matColumnDef="category3">
        <th mat-header-cell *matHeaderCellDef> Category 3 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category3}} </td>
      </ng-container>
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sector </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Sector}} </td>
      </ng-container>
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Industry}} </td>
      </ng-container>
      <ng-container matColumnDef="leverage">
        <th mat-header-cell *matHeaderCellDef> Leverage </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.LeverageRatio}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'text-success' : this.isNewAsset(row, true)}"></tr>
    </table>
    <table mat-table [dataSource]="this.getDeletedAssets(true)" class="w-100 mat-elevation-z8">
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let asset"> 
          <a target="_blank" [href]="'https://stockmarketmba.com/analyze.php?s='+asset.Ticker">{{asset.Ticker}}</a>  
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="category1">
        <th mat-header-cell *matHeaderCellDef> Category 1 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category1}} </td>
      </ng-container>
      <ng-container matColumnDef="category2">
        <th mat-header-cell *matHeaderCellDef> Category 2 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category2}} </td>
      </ng-container>
      <ng-container matColumnDef="category3">
        <th mat-header-cell *matHeaderCellDef> Category 3 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category3}} </td>
      </ng-container>
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sector </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Sector}} </td>
      </ng-container>
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Industry}} </td>
      </ng-container>
      <ng-container matColumnDef="leverage">
        <th mat-header-cell *matHeaderCellDef> Leverage </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.LeverageRatio}} </td>
      </ng-container>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-danger"></tr>
    </table>

    <h3 class="mt-4">Comparitive Assets</h3>
    <table mat-table [dataSource]="node.Assets | asset : {compare : true}" class="w-100 mat-elevation-z8">
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let asset"> 
          <a target="_blank" [href]="'https://stockmarketmba.com/analyze.php?s='+asset.Ticker">{{asset.Ticker}}</a>  
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="category1">
        <th mat-header-cell *matHeaderCellDef> Category 1 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category1}} </td>
      </ng-container>
      <ng-container matColumnDef="category2">
        <th mat-header-cell *matHeaderCellDef> Category 2 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category2}} </td>
      </ng-container>
      <ng-container matColumnDef="category3">
        <th mat-header-cell *matHeaderCellDef> Category 3 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category3}} </td>
      </ng-container>
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sector </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Sector}} </td>
      </ng-container>
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Industry}} </td>
      </ng-container>
      <ng-container matColumnDef="leverage">
        <th mat-header-cell *matHeaderCellDef> Leverage </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.LeverageRatio}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'text-success' : this.isNewAsset(row, false)}"></tr>
    </table>
    <table mat-table [dataSource]="this.getDeletedAssets(false)" class="w-100 mat-elevation-z8">
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let asset"> 
          <a target="_blank" [href]="'https://stockmarketmba.com/analyze.php?s='+asset.Ticker">{{asset.Ticker}}</a>  
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="category1">
        <th mat-header-cell *matHeaderCellDef> Category 1 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category1}} </td>
      </ng-container>
      <ng-container matColumnDef="category2">
        <th mat-header-cell *matHeaderCellDef> Category 2 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category2}} </td>
      </ng-container>
      <ng-container matColumnDef="category3">
        <th mat-header-cell *matHeaderCellDef> Category 3 </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Category3}} </td>
      </ng-container>
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sector </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Sector}} </td>
      </ng-container>
      <ng-container matColumnDef="industry">
        <th mat-header-cell *matHeaderCellDef> Industry </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.Industry}} </td>
      </ng-container>
      <ng-container matColumnDef="leverage">
        <th mat-header-cell *matHeaderCellDef> Leverage </th>
        <td mat-cell *matCellDef="let asset"> {{asset.Details?.LeverageRatio}} </td>
      </ng-container>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-danger"></tr>
    </table>
  </mat-expansion-panel>
<div *ngIf="node.Children?.length" class="mt-1">
    <app-symphony-view-node *ngFor="let c of node?.Children" [node]="c" [portfolioView]="this.portfolioView"></app-symphony-view-node>
</div>